bin/
obj/
.vs/
.vscode/
*.suo
*.user
*.csproj.user
*.sln.docstates
*.cache
[Bb]uild/
[Pp]ublish/
[Pp]ublishOutput/
_ReSharper*/
packages/
*.nupkg
*.snupkg

# Visual Studio temporary files
_vti_cnf/
*.log
*.tmp
*.vspscc
*.vssscc
*_i.c
*_p.c
*.tlog
*.bak
*.ilk
*.pdb
*.resources
[Dd]ebug*/
[Rr]elease*/
*.cachefile
*.VC.db
ipch/
*.opendb
*.opensdf
*.sdf
*.dgml
*.rwd
*.etl
*/_UpgradeReport_Files/
